@{
    ViewData["Title"] = "Home Page";
}

@model List<Driver>

@section Scripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#DeviceTbl').DataTable({
                ordering: true,
                paging: true,
                searching: true
            });
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table id="DeviceTbl" class="table table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Driver ID</th>
                <th scope="col">Employee No</th>
                <th scope="col">Last Name</th>
                <th scope="col">Given Name</th>
                <th scope="col">Other Names</th>
                <th scope="col">Age</th>
            </tr>
        </thead>

        @foreach (Driver a in Model)
        {
    <tr>
        <td>@a.Id</td>
        <td>@a.EmployeeNo</td>
        <td>@a.LastName</td>
        <td>@a.GivenName</td>
        <td>@a.OtherNames</td>
        <td>@a.Age</td>
    </tr>
        }

    </table>

</div>
