@{
    ViewData["Title"] = "Home Page";
}

@model List<RecordedIncident>

@section Scripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#DeviceTbl').DataTable({
                ordering: true,
                paging: true,
                searching: true
            });
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table id="DeviceTbl" class="table table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Recorded Incident ID</th>
                <th scope="col">Incident Time</th>
                <th scope="col">Incident Type</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Shift Id</th>
            </tr>
        </thead>

        @foreach (RecordedIncident a in Model)
        {
    <tr>
        <td>@a.Id</td>
        <td>@a.IncidentTime</td>
        <td>@a.IncidentType</td>
        <td>@a.Gpslat</td>
        <td>@a.Gpslong</td>
        <td>@a.ShiftId</td>
    </tr>
        }

    </table>

</div>
