@{
    ViewData["Title"] = "Home Page";
}

@model List<Vehicle>

@section Scripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#DeviceTbl').DataTable({
                ordering: true,
                paging: true,
                searching: true
            });
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table id="DeviceTbl" class="table table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Vehicle ID</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Reg No</th>
                <th scope="col">Sw Version</th>
                <th scope="col">Unit No</th>
            </tr>
        </thead>

        @foreach (Vehicle a in Model)
        {
    <tr>
        <td>@a.Id</td>
        <td>@a.Make</td>
        <td>@a.Model</td>
        <td>@a.Year</td>
        <td>@a.RegistrationNo</td>
        <td>@a.SwVersion</td>
        <td>@a.UnitNo</td>
    </tr>
        }

    </table>

</div>
